<ion-view view-title="Change Password">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-thin-left" ng-click="goBack()">
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="" padding="true">

    <div class="item item-icon-left no-bg no-border group_name">
      <i class="icon ion-ios-locked-outline"></i>
      <h2>Current Password</h2>
    </div>

    <label class="item item-input group_name_input">
      <input type="password" placeholder="Enter Current Password"  ng-model="user.current_psw" />
    </label>
    <br>
    <div class="item item-icon-left no-bg no-border group_name">
      <i class="icon ion-ios-locked-outline"></i>
      <h2>New Password</h2>
    </div>

    <label class="item item-input group_name_input">
      <input type="password" placeholder="Enter new Password"  ng-model="user.new_psw" />
    </label>

    <button class="button button-full button-positive" ng-click="onSavePassword()">Save</button>
  </ion-content>


</ion-view>
