<ion-view >
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-thin-left" ng-click="goBack()">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
      <b>Highlights</b>
    </ion-nav-title>
  </ion-nav-bar>


  <ion-content class="has-header highlights_content">
    <h2 class="title">Uploading Highlights is easy!</h2>
    <div class="txt">1. UPload videos to <font style="color:#e1602d; font-wight:bold;">Youtube</font></div>
    <div class="txt">2. Copy the embeddable link below.</div>
    <div class="txt">3. Write a Title and click Submit!</div>

    <div class="list">
      <div class="item item-divider">
        <h3>Highlights</h3>
      </div>

      <div class="item ">
        <label class="item item-input">
          <span class="input-label">Title :</span>
          <input type="text" ng-model="highlights.firstTitle">
        </label>
        <label class="item item-input">
          <span class="input-label">Url :</span>
          <input type="text" ng-model="highlights.firstUrl">
        </label>
      </div>

      <div class="item ">
        <label class="item item-input">
          <span class="input-label">Title :</span>
          <input type="text" ng-model="highlights.secondTitle">
        </label>
        <label class="item item-input">
          <span class="input-label">Url :</span>
          <input type="text" ng-model="highlights.secondUrl">
        </label>
      </div>

      <div class="item ">
        <label class="item item-input">
          <span class="input-label">Title :</span>
          <input type="text" ng-model="highlights.thirdTitle">
        </label>
        <label class="item item-input">
          <span class="input-label">Url :</span>
          <input type="text" ng-model="highlights.thirdUrl">
        </label>
      </div>
    </div>

    <div class="padding">
      <button class="button button-assertive button-full pBtn" ng-click="onSubmit()">Submit</button>
    </div>


  </ion-content>
</ion-view>
